<!-- ================== Combo ================== -->
<a href="#combo" class="sg-h2" id="combo" data-ref="combo"> Combo </a>
<sg-example>
  <div class="combo">
    <div class="combo-first">
      <sg-placeholder style="width: 100px;"></sg-placeholder>
    </div>
    <div class="combo-last">
      <sg-placeholder></sg-placeholder>
    </div>
  </div>

  <sg-spacer></sg-spacer>

  <div class="combo combo--rev">
    <div class="combo-first">
      <sg-placeholder></sg-placeholder>
    </div>
    <div class="combo-last">
      <sg-placeholder style="width: 100px;"></sg-placeholder>
    </div>
  </div>

</sg-example>
