<!-- ================== Buttons ================== -->
<sg-section>
  <a href="#buttons" class="sg-h1" id="buttons"> Buttons </a>
  <sg-example>
    <div style="margin-bottom: 25px;">
      <a class="button">Default Button</a>
    </div>

    <div style="margin-bottom: 25px;">
      <a class="button button--small">Small Button</a>
    </div>

    <div style="margin-bottom: 25px;">
      <a class="button button--secondary">Secondary Button</a>
    </div>

    <div>
      <button disabled>Disabled Button</button>
    </div>
  </sg-example>
</sg-section>
