<!-- ================== Combo ================== -->
<a href="#grid" class="sg-h2" id="grid"> Grid </a>

<a onClick="window.open('http://google.com','pagename','resizable,height=260,width=370'); return false;">
  View HTML
</a>

<sg-example>
  <div class="grid">
    <div class="grid-1of3 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
    <div class="grid-2of3 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
  </div>

  <sg-spacer></sg-spacer>

  <div class="grid">
    <div class="grid-1of4 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
    <div class="grid-1of4 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
    <div class="grid-1of4 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
    <div class="grid-1of4 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
  </div>

  <sg-spacer></sg-spacer>

  <div class="grid grid--rev">
    <div class="grid-1of3 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
    <div class="grid-2of3 grid-1of1--palm">
      <sg-placeholder></sg-placeholder>
    </div>
  </div>
</sg-example>
