<!-- ================== Hero ================== -->
<a href="#hero" class="sg-h2" id="hero" data-ref="hero"> Hero </a>

<sg-example>
  <section class="hero" style="background-image: url('https://placeimg.com/800/600/any');">
    <div class="hero-inner">
      <div class="container container--narrow">
        <h1 class="hero-title"> Hero Title </h1>
        <h4 class="hero-subtitle"> Hero Subtitle </h4>
        <a class="hero-cta button button--large button--secondary" href="#">
          Hero CTA
        </a>
      </div>
    </div>
  </section>
</sg-example>
