<!-- ================== Logo Quilt ================== -->
<a href="#logoQuilt" class="sg-h2" id="logoQuilt" data-ref="logoQuilt"> Logo Quilt </a>

<sg-example>
  <section class="logoQuilt">
    <div class="container">
      <div class="logoQuilt-tier">
        <h4 class="logoQuilt-tierTitle">
          Corporate Sponsors
        </h4>

        <a class="logoQuilt-logo" href="#" target="_BLANK" data-enter="fade" data-enter-delay="50>">
          <img src="./assets/carrot.png" alt="logo">
        </a>

        <a class="logoQuilt-logo" href="#" target="_BLANK" data-enter="fade" data-enter-delay="100>">
          <img src="./assets/invision.png" alt="logo">
        </a>

        <a class="logoQuilt-logo" href="#" target="_BLANK" data-enter="fade" data-enter-delay="150>">
          <img src="./assets/meta.png" alt="logo">
        </a>

        <a class="logoQuilt-logo" href="#" target="_BLANK" data-enter="fade" data-enter-delay="200>">
          <img src="./assets/rbc.png" alt="logo">
        </a>

        <a class="logoQuilt-logo" href="#" target="_BLANK" data-enter="fade" data-enter-delay="250>">
          <img src="./assets/sheets.png" alt="logo">
        </a>

      </div>
    </div>
  </section>
</sg-example>
