<!-- ================== Tables ================== -->
<a href="#tables" class="sg-h2" id="tables"> Tables </a>

<sg-example>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Heading One</th>
          <th>Heading Two</th>
          <th>Heading Three</th>
          <th>Heading Four</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row One</td>
          <td>Row One</td>
          <td>Row One</td>
          <td>Row One</td>
        </tr>
        <tr>
          <td>Row Two</td>
          <td>Row Two</td>
          <td>Row Two</td>
          <td>Row Two</td>
        </tr>
        <tr>
          <td>Row Three</td>
          <td>Row Three</td>
          <td>Row Three</td>
          <td>Row Three</td>
        </tr>
        <tr>
          <td>Row Four</td>
          <td>Row Four</td>
          <td>Row Four</td>
          <td>Row Four</td>
        </tr>
      </tbody>
    </table>
  </div>
</sg-example>
