// --------------------------
// Base Settings
// --------------------------
$base-font-size: 16px;
$gutter: 20px;
$container-width: 1440px;
$nav-breakpoint: 640px;
$nav-sticky: true;
$section-padding: 75px;
$section-padding-palm: 30px;

// --------------------------
// Breakpoints
// --------------------------
$breakpoints: (
  palm: '(max-width: 480px)',
  lap: '(min-width: 481px) and (max-width: 1023px)',
  desk: '(min-width: 1024px)',
  portable: '(max-width: 1023px)',
  large: '(min-width: 481px)',
  iphonex: 'only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3)'
);

// --------------------------
// Colours
// --------------------------
$primary: #5bb16e;
$secondary: #ffcf47;
$tertiary: #ffabab;
$success: #5bb16e;
$warning: #ffcf47;
$error: #f44770;
$notice: #0543ff;

@mixin colours() {
  .sg-primary {
    border-color: $primary;
  }
  .sg-secondary {
    border-color: $secondary;
  }
  .sg-tertiary {
    border-color: $tertiary;
  }
  .sg-success {
    border-color: $success;
  }
  .sg-warning {
    border-color: $warning;
  }
  .sg-error {
    border-color: $error;
  }
  .sg-notice {
    border-color: $notice;
  }
}
