<!-- ================== Messages ================== -->
<a href="#messages" class="sg-h2" id="messages"> Messages </a>

<sg-example>
  <div class="container">
    <div class="message message--success">
      <strong>Success!</strong> A new user has been successfully added.
    </div>

    <div class="message message--error">
      <strong>Error!</strong> Required field missing.
    </div>

    <div class="message message--warning">
      <strong>Warning!</strong> There is no undo option for this change.
    </div>

    <div class="message message--notice">
      <strong>Notice!</strong> Our privacy policy has been updated.
    </div>
  </div>
</sg-example>
