<!-- ================== Messages ================== -->
<sg-section>
  <a href="#messages" class="sg-h1" id="messages"> Messages </a>

  <a href="#success-message" class="sg-h3" id="success-message"> Success </a>
  <sg-example>
    <div class="message message--success">
      A new user has been successfully added.
    </div>
  </sg-example>

  <a href="#error-message" class="sg-h3" id="error-message"> Error </a>
  <sg-example>
    <div class="message message--error">
      Error with <strong>1</strong> field. Please correct the issue and try submitting the form again.
    </div>
  </sg-example>

</sg-section>
